@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* #D7D7D9 - white */
/* #0375B4 - blue - p */
/* #007849 - green - s */
/* #262228 - black */
/* #FFCE00 - yellow */
*{
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, .growl-notice{
	font-family: 'Lato', sans-serif !important;
}

.banner{
	width: 100%;
	height: 100px;
}

.images{
	padding-left: 10px;
	padding-right: 10px;
}

.logoAgrotracsem{
	height: 100px;
}

.logoNH{
	height: 50px;
}

.navbar-brand{
	color: #262228 !important;
}

.fa-bars{
	color: #FFCE00 !important;
}

.navbar{
	background-color: #ffffff !important;
	box-shadow: 1px 2px 5px .5px #e4e4e4 !important;
}

.nav-link{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #262228 !important;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown-item{
	color: #262228 !important;
	font-family: 'Lato', sans-serif !important;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	font-size: 18px !important;
}

.nav-link:hover, .dropdown-item:hover{
	transition: 1s all;
	color: #FFCE00 !important;
	border-bottom-color: #FFCE00;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #ffffff;
}

.special-color-dark{
	background: #007849 !important;
}

.titulos{
	color: #262228;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.carousel-inner{
	border-radius: 10px !important;
	border-style: solid;
	border-color: transparent;
	margin-bottom: 20px;  
}

.images-slider{
	width: 100%;
	height: 400px;
}

.image1{
	background: url('../images/one.jpg')center no-repeat;
	background-size: cover;
}

.image2{
	background: url('../images/two.jpg')center no-repeat;
	background-size: cover;
}

.image3{
	background: url('../images/third.jpg')center no-repeat;
	background-size: cover;
}

.arrow{
	color: #262228 !important;
}

.mensaje{
	padding: 20px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.card{
	transition: 1s all;
	width: 100%;
	height: 450px;
	border-radius: 15px !important;
	margin-bottom: 30px;
	margin-top: 20px;
	border-color: transparent !important;
}

.links{
	background: #ffffff;
}

.card-img-top{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-color: transparent;
	background-size: cover !important;
	width: 100%;
	height: 330px;
}

.btn{
	border-radius: 15px !important;
}

.btn-primary{
	font-size: 15px;
	background-color: #0375B4 !important;
}

.primary{
	background: #ffffff !important;
	color: #007849;
	font-family: 'Roboto light', sans-serif;
	font-size: 13px;
}

.primary:hover{
	color: #078F34;
}


.logoHi{
	width: 350px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenedor{
	width: 100%;
	height: 100vh;
	background: url('../images/22.jpeg')no-repeat center;
	background-size: cover;
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
	 /* alineacion horizontal */
	justify-content: center;
}

.contenedorLogin{
	width: 100%;
	height: 100vh;
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
	 /* alineacion horizontal */
	justify-content: center;
}

.contenedorCuenta{
	width: 100%;
	height: 100vh;
	background: url('../images/4.jpeg')no-repeat center;
	background-size: cover;
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
	 /* alineacion horizontal */
	justify-content: center;
}

.input{
	border-radius: 15px !important;
	margin-bottom: 5px !important;
	font-family: 'Lato', sans-serif;
}

.card-cuenta{
	width: 400px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 15px;
}

.card-store{
	width: 16rem;
	height: 380px;
	background-color: #ffffff;
	border-radius: 15px;
	margin-bottom: 20px;
}

.img-store{
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.card-body{
	background-color: #ffffff !important;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.product{
	margin-top: -10px;	
}

.add-shop{
	color: #0375B4   !important;
	font-family: 'Roboto light', sans-serif;
	font-size: 13px;
}

.add-shop:hover{
	color: rgb(1, 134, 206) !important;
}

.parrafos{
	color: #262228;
	margin-bottom: 30px;
	text-align: justify;
	padding: 25px;
}

li{
	list-style: none !important;
}

.horarios{
	color: #262228;
	padding: 10px;
}

.card-contacto{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	-webkit-box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
	-moz-box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
	box-shadow: -2px -1px 38px -5px rgba(92, 45, 45, 0.34);
}

.toast-inactive{
	width: 250px;
	padding: 10px;
	background-color: #ffffff;
	color: #ef6c57;
	border-radius: 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	visibility: hidden;
	opacity: 0;
  }
  
  .toast-active{
	width: 250px;
	padding: 10px;
	background-color: #ffffff;
	color: #ef6c57;
	border-style: solid;
	border-width: 1px;
	border-color: #ef6c57;
	border-radius: 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	visibility: visible;
	opacity: 0;
	animation-name: toast;
	animation-duration: 3s;
  }
  
  @keyframes toast{
	5%,95%{opacity: 1; margin-left: 50px}
	15%,85%{opacity: 1; margin-left: 25px}
  }

  .categoria{
	  padding-bottom: 10px;		
	  color: #dbdbdb;
	  font-family: 'Roboto', sans-serif;
	  font-size: 14px;
  }

  .error{
	color: #ee1665;
  }

  .zoom {
	  width: 100%;
	  height: 100%;
	transition: transform .1s; /* Animation */
  }
  
  .zoom:hover {
	transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .card-horario{
	  margin-left: 25px;
	  padding: 8px;
	  width: 80%;
	  height: 40px;
	  background-color: #ffffff;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #ffffff;
	  border-radius: 15px;
	  color: #007849;
	  font-family: 'Lato', sans-serif;
	  transition: transform .2s;
	  margin-top: 15px;
	  margin-bottom: 15px;
  }

  .card-horario:hover{
	transform: scale(1.02);
	background-color: #007849;
	border-color: #007849;
	color: #ffffff;
  }

  .growl-notice {
	display:none;
	padding: 10px;
	font-size: 15px;
    color: #fff;
    width: 240px;
    height: 42px;
    border-radius: 20px;
    opacity: 0.90;
    background-color: #0653CC;
    position: fixed;
    right: 20px;
    top: 20px;
}

.user{
	padding: 10px;
	font-size: 15px;
    width: 100px;
    height: 42px;
    border-radius: 20px;
    opacity: 0.90;
    background-color: #0653CC;
    position: fixed;
    right: 20px;
	top: 135px;
	transition: transform .1s; /* Animation */
}

.user > a{
	color: #fff;
}

.user:hover{
	transform: scale(1.03);
}