@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
/* #D7D7D9 - white */
/* #07598C - blue - p */
/* #197339 - green - s */
/* #BFB47E - cafe */
/* #DA9A24 - yellow */
*{
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
}

.banner{
	width: 100%;
	height: 100px;
}

.images{
	padding-left: 10px;
	padding-right: 10px;
}

.logoAgrotracsem{
	height: 100px;
}

.logoNH{
	height: 50px;
}

.navbar-brand{
	color: #000000 !important;
}

.fa-bars{
	color: #DA9A24 !important;
}

.navbar{
	background-color: #ffffff !important;
	box-shadow: none !important;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #D7D7D9!important;
	border-bottom-color: #D7D7D9 !important;
}

.nav-link{
	color: #000000 !important;
	font-family: 'Roboto', sans-serif;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	font-size: 16px !important;
	letter-spacing: 1px;
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown-item{
	color: #000000 !important;
	font-family: 'Roboto', sans-serif;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	font-size: 16px !important;
	letter-spacing: 1px;
}

.nav-link:hover, .dropdown-item:hover{
	transition: 1s all;
	color: #197339 !important;
	border-bottom-color: #197339;
	background-color: #ffffff;
}

.titulos{
	margin-top: 30px;
	margin-bottom: 30px;
}

.carousel-inner{
	border-radius: 10px !important;
	border-style: solid;
	border-color: transparent;
	margin-bottom: 20px;  
}

.images-slider{
	width: 100%;
	height: 500px;
}

.image1{
	background: url('../images/33.jpeg')center no-repeat;
	background-size: cover;
}

.image2{
	background: url('../images/43.jpeg')center no-repeat;
	background-size: cover;
}

.image3{
	background: url('../images/12.jpeg')center no-repeat;
	background-size: cover;
}

.mensaje{
	padding: 20px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.card{
	transition: 1s all;
	width: 100%;
	height: 450px;
	border-radius: 15px !important;
	margin-bottom: 30px;
	margin-top: 20px;
	border-color: transparent !important;
	-webkit-box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
	-moz-box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
	box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
}

.card:hover{
	transition: 1s all;
	-webkit-box-shadow: -2px -1px 39px 7px rgba(0,0,0,0.34);
	-moz-box-shadow: -2px -1px 39px 7px rgba(0,0,0,0.34);
	box-shadow: -2px -1px 39px 7px rgba(0,0,0,0.34)
}

.links{
	background: #ffffff;
}

.card-img-top{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-color: transparent;
	background-size: cover !important;
	width: 100%;
	height: 380px;
}

.btn{
	border-radius: 15px !important;
}

.btn-primary{
	background: #07598C !important;
}

.btn-secondary{
	background: #197339 !important;
	margin-top: 10px !important;
}

.btn-card{
	transition: 0.5s all ease-in;
	margin-top: -200px;
	visibility: hidden;
}

.card:hover .card-body > .btn-card{
	transition: 0.5s all ease-in;
	visibility: visible;
}

.logoHi{
	width: 350px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenedor{
	width: 100%;
	height: 80vh;
	background: url('../images/22.jpeg')no-repeat center;
	background-size: cover;
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
	 /* alineacion horizontal */
	justify-content: center;
}

.input{
	border-radius: 15px !important;
	margin-bottom: 5px !important;
	font-family: 'Roboto', sans-serif;
}

.card-cuenta{
	width: 400px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 15px;
}

.card-store{
	width: 16rem;
	height: 380px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px #999999;
	margin-bottom: 20px;
}

.img-store{
	width: 16rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.btn-amarello{
	background-color: #DA9A24;
	color: #ffffff;
	margin-top: 5px !important;
	border-radius: 10px !important;
	padding: 10px;
}

.btn-amarello:hover{
	background-color: rgb(218, 141, 0);
	color: #ffffff;
}

.btn-azurri{
	background-color: #07598C;
	color: #ffffff;
	margin-top: 5px !important;
	border-radius: 10px !important;
	padding: 10px;
}

.btn-azurri:hover{
	background-color: rgb(6, 73, 116);
	color: #ffffff;
}

.parrafos{
	margin-bottom: 30px;
	text-align: justify;
	padding: 10px;
}

li{
	list-style: none !important;
}

.horarios{
	color: #DA9A24;
	padding: 10px;
}

.card-contacto{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	-webkit-box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
	-moz-box-shadow: -2px -1px 38px -5px rgba(0,0,0,0.34);
	box-shadow: -2px -1px 38px -5px rgba(92, 45, 45, 0.34);
}

.toast-inactive{
	width: 250px;
	padding: 10px;
	background-color: #ffffff;
	color: #9137A6;
	border-radius: 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	visibility: hidden;
	opacity: 0;
  }
  
  .toast-active{
	width: 250px;
	padding: 10px;
	background-color: #ffffff;
	color: #9137A6;
	border-style: solid;
	border-width: 1px;
	border-color: #9137A6;
	border-radius: 10px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	visibility: visible;
	opacity: 0;
	animation-name: toast;
	animation-duration: 3s;
  }
  
  @keyframes toast{
	5%,95%{opacity: 1; margin-left: 50px}
	15%,85%{opacity: 1; margin-left: 25px}
  }